### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
salary=int(input("your excact salary in lakhs"))
hra=salary*0.10
da=salary*0.05
pf=salary*0.03
if(salary<500000):
  tax=salary*0
elif(salary>=500000 or salary<=1000000):
  tax=salary*0.10
elif(salary>1000000 or salary<=2000000):
  tax=salary*0.20
else:
  tax=salary*0.30
total_salary=salary-hra-da-pf-tax
print("your in hand salary is ",total_salary)

your excact salary in lakhs1200000
your in hand salary is  864000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
a1=int(input("first angle"))
a2=int(input("second angle "))
a3=int(input("third angle "))
if(a1>0 and a2>0 and a3>0 and a1+a2+a3==180):
  print("yes we can form a traingle with this")
else:
  print("no it will not form a triangle")

first angle50
second angle 50
third angle 80
yes we can form a traingle with this

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cost=int(input("what is the cost price"))
sell=int(input("what is the sell price"))
if(cost>sell):
  print("you are in loss")
elif(cost<sell):
  print(" you are in profit")
else:
  print("neither a loss nor a profit")

what is the cost price600
what is the sell price800
 you are in profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
choice=int(input("what are you planning to do \n write  1 for changing cm to ft \n  2 for changing km to miles \n 3 for changing usd to inr \n 4 for just exitting"))
if(choice==1):
  cm=int(input("write cm"))
  ft=cm/30.48
  print(ft," feet")
elif(choice==2):
  km=int(input("write km"))
  mile=km * 0.621371
  print(mile, " miles")
elif(choice==3):
  usd=int(input("enter usd"))
  inr=usd=83.20
  print(inr , " inr")
elif(choice==4):
  print("exitting")
else:
  print("you can only choose from 1  to 4 ")

what are you planning to do
 write  1 for changing cm to ft
  2 for changing km to miles
 3 for changing usd to inr
 4 for just exitting2
write km56
34.796776  miles

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
n1=0
n2=1
num=10
for i in range(num):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3 , end="  ")

1  2  3  5  8  13  21  34  55  89

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:

n = int(input("Factorial of? "))
mul = 1

while n > 1:
    m = n - 1
    mul = mul * n
    n = m

print("Factorial is:", mul)

Factorial of? 5
Factorial is: 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
n1=int(input("write the number"))
reverse=0
while(n1>0):
  last=n1%10
  reverse=reverse*10+last
  n1=n1//10
print(reverse)

write the number345
543

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
N = int(input("Enter a number: "))
i = 1
total = 0

while i <= N:
    if i % 5 == 0:
        i += 1
        continue
    if total +i> 300:
        break
    total += i
    i += 1

print(total)

Enter a number: 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
user=int(input("write the  number"))
sum=0
count=0
while(user!=0):
  sum+=user
  count+=1
  user=int(input("write the  number"))

print(sum)
if count>0:
  avg=sum/count
  print(avg)

write the  number0
0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000,3201):
  if(i%7==0 and i%5!=0):
    print(i, end=" , ")

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for i in range(1000,3001):
  t=i
  while(t>0):
    digit=t%10
    if(digit%2!=0):
      break
    t=t//10
  else:
    print(i , end='  ')

2000  2002  2004  2006  2008  2020  2022  2024  2026  2028  2040  2042  2044  2046  2048  2060  2062  2064  2066  2068  2080  2082  2084  2086  2088  2200  2202  2204  2206  2208  2220  2222  2224  2226  2228  2240  2242  2244  2246  2248  2260  2262  2264  2266  2268  2280  2282  2284  2286  2288  2400  2402  2404  2406  2408  2420  2422  2424  2426  2428  2440  2442  2444  2446  2448  2460  2462  2464  2466  2468  2480  2482  2484  2486  2488  2600  2602  2604  2606  2608  2620  2622  2624  2626  2628  2640  2642  2644  2646  2648  2660  2662  2664  2666  2668  2680  2682  2684  2686  2688  2800  2802  2804  2806  2808  2820  2822  2824  2826  2828  2840  2842  2844  2846  2848  2860  2862  2864  2866  2868  2880  2882  2884  2886  2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
num = int(input("write number"))
for i in range(2,int(num**0.5)+1):
  if(num%i==0):
    print("the number is not prime")
    break
else:
  print("the number is prime")

write number6
the number is not prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:

start = int(input("Enter starting number of range: "))
end = int(input("Enter ending number of range: "))

print("Armstrong numbers  are:")

for num in range(start, end + 1):
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** 3
        temp = temp // 10
    if sum == num:
        print(num, end=" ")

Enter starting number of range: 1
Enter ending number of range: 600
Armstrong numbers in the given range are:
1 153 370 371 407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
H=int(input("hour"))
M=int(input("minute"))
Hour_Angle=30*H+0.5*M
Minute_Angle=6*M
if Hour_Angle > Minute_Angle:
  angle=Hour_Angle-Minute_Angle
else:
  angle=Minute_Angle-Hour_Angle
if angle > 180:
        final_angle = 360 - angle
else:
        final_angle = angle
final=int(final_angle)
print(final , " degree")

hour9
minute0
90  degree

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
L1 = (0, 10)
R1 = (10, 0)

L2 = (5, 5)
R2 = (15, -5)

if(R1[0]< L2[0]) or (R2[0]<L1[0]) or (R1[1]>L2[1]) or (R2[1]>L1[1]):
  print("rectangles are not overlapping ")
else:
  print("rectangle overlaps")

rectangle overlaps

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,